{% extends 'appraisal/base.html' %}

{% load staticfiles %}

{% block title %} page | Appraisal {% endblock %}

{% block content %}

<body class="Tbody">
	<div class="logo" style="float: right; margin-right: 30px;"> <img src="{% static 'goalsetting/images/logo.jpg' %}" alt="AEDC"> </div>

<p style="font-weight: bold; margin-left: 90px; font-size: 17px; color:#DEB887; margin-top: 15px;"> Welcome {{request.user.first_name | title}} {{request.user.last_name | title}} </p>

	<div>
		<!-- <button id="g_setting"> GOAL SETTING FORM</button> -->

		<a href="{% url 'appraisal_homepage' %}"> <button id="appr_form"> CLICK HERE TO BEGIN </button> </a>

	</div>

</body>


{% endblock %}