<div id="app">
<div class="Form" >
            <form action="" method="post">
                {% csrf_token %}
            <div style="float:left; margin-right:20px;" class="input_div">
                <label for = "first-name" style="display: block;"> First Name<span style="color: red">*</span> </label>
                <input placeholder="First Name" align="justify" type="text" name="firstname" required>
            </div>

            <div style="float:left; margin-right:20px;" class="input_div">
                <label style="display: block;"> Middle Name<!-- <span style="color: red">*</span> --> </label>
                <input placeholder="Middle Name"align="justify" type="text" name="middlename" >
            </div>

            <div style="float:left;" class="input_div">
                <label style="display: block;"> Last Name<span style="color: red">*</span> </label>
                <input placeholder="Last Name"align="justify" type="text" name="lastname" required>
            </div>

              <br style="clear:both;" />
              <br>
            
            <div style="float:left; margin-right:20px; width: 44%; ">
                <label style="display: block;"> Staff ID<span style="color: red">*</span> </label>
                <input placeholder="Staff ID" align="justify" type="text" name="staffid" style="width: 510px" required>
            </div>


            <div style="float:left; margin-right:20px; width: 45%; height: 80px; padding-top: 10px">
            <label style="display: block;"> Job Level<span style="color: red">*</span> </label>
                <select name="position" placeholder="Job Level" style="width: 517px" required>
                    <option value="" disabled selected>Job Level</option>
                    <option value="AEDC3-General Manager">AEDC3-General Manager</option>
                    <option value="AEDC4-Senior Manager">AEDC4-Senior Manager</option>
                    <option value="AEDC5-Manager">AEDC5-Manager</option>
                    <option value="AEDC6-Assistant Manager">AEDC6-Assistant Manager</option>
                    <option value="AEDC7-Senior Officer">AEDC7-Senior Officer</option>
                    <option value="AEDC8-Function Officer 1">AEDC8-Function Officer 1</option>
                    <option value="AEDC-9-Function Officer 2">AEDC-9-Function Officer 2</option>
                    <option value="AEDC-10-Support Officer">AEDC-10-Support Officer</option>
                </select>
            </div>

            <br style="clear:both;" />
            <br>

            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Unit<span style="color: red">*</span> </label>  
                <select name="unit" placeholder="Unit" align="justify" style="width: 510px" required>
                    <option value="" disabled selected >Unit</option>
                    <option value="AEDC Change">AEDC Change</option>
                    <option value="Human Resources and Industrial Relations">Human Resources and Industrial Relations</option>
                    <option value="Billing">Billing</option>
                    <option value="Fraud Billing">Fraud Billing</option>
                    <option value="Debt Management">Debt Management</option>
                    <option value="Technical Services">Technical Services</option>
                    <option value="Commercial Services">Commercial Services</option>
                    <option value="MAP">MAP</option>
                    <option value="SPM">SPM</option>
                    <option value="Projects">Projects</option>
                    <option value="Protocol">Protocol</option>
                    <option value="Business Corporate Risk">Business Corporate Risk</option>
                    <option value="Commercial Performance Management">Commercial Performance Management</option>
                    <option value="Communications Facilities and Infrasturcture">Communications Facilities and Infrasturcture</option>
                    <option value="Company Secretariat">Company Secretariat</option>
                    <option value="Compliance Audit">Compliance Audit</option>
                    <option value="Contract and Documentation">Contract and Documentation</option>
                    <option value="Corporate Communications">Corporate Communications</option>
                    <option value="Corporate Finance and Corporate Development">Corporate Finance and Corporate Development</option>
                    <option value="Customer Care Services">Customer Care Services</option>
                    <option value="Cyber Security and BCP">Cyber Security and BCP</option>
                    <option value="Dispute Resolution">Dispute Resolution</option>
                    <option value="Environmental and Social">Environmental and Social</option>
                    <option value="Financial Operations">Financial Operations</option>
                    <option value="Fleet Management and Logistics">Fleet Management and Logistics</option>
                    <option value="GIS and Communications">GIS and Communications</option>
                    <option value="Health and Safety">Health and Safety</option>
                    <option value="Human Resources & Administration">Human Resources & Administration</option>
                    <option value="IT Audit">IT Audit</option>
                    <option value="Key/Debt Account">Key/Debt Account</option>
                    <option value="Legal Advisory">Legal Advisory</option>
                    <option value="Legal Services">Legal Services</option>
                    <option value="Management Office">Management Office</option>
                    <option value="Network Deployment">Network Deployment</option>
                    <option value="Network Surveillance">Network Surveillance</option>
                    <option value="Network Operations">Network Operations</option>
                    <option value="Operations and Maintenance">Operations and Maintenance</option>
                    <option value="Operations Audit">Operations Audit</option>
                    <option value="Operations Control">Operations Control</option>
                    <option value="Protection, Control and Communications">Protection, Control and Communications</option>
                    <option value="Quality Assurance">Quality Assurance</option>
                    <option value="Facility">Facility</option>
                    <option value="Regulatory and Government Relations">Regulatory and Government Relations</option>
                    <option value="Revenue Protection">Revenue Protection</option>
                    <option value="Security Services">Security Services</option>
                    <option value="Strategic PMO Office">Strategic PMO Office</option>
                    <option value="Strategy and Corporate Planning">Strategy and Corporate Planning</option>
                    <option value="Supply Chain(Procurement)">Supply Chain(Procurement)</option>
                    <option value="Treasury and Financial Risk Management">Treasury and Financial Risk Management</option>
                    <option value="User Support and Applications Management">User Support and Applications Management</option>
                    <option value="Vending">Vending</option>
                     <option value="ICT Infrastructure and Platform">ICT Infrastructure and Platforms</option>
                </select>

            </div>

            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Directorate <span style="color: red">*</span> </label>
                <select name="directorate" placeholder="directorate"align="justify" style="width: 509px" required>
                    <option value="" disabled selected>Directorate</option>
                    <option value="Change Management and PMO">Change Management and PMO</option>
                    <option value="Projects">Projects</option>
                    <option value="Operations">Operations</option>
                    <option value="Corporate Services">Corporate Services</option>
                    <option value="Financial Services">Financial Services</option>
                    <option value="Information Communication and Technology">Information Communication and Technology</option>
                    <option value="Internal Audit">Internal Audit</option>
                    <option value="Legal Services and Company Secretariat">Legal Services and Company Secretariat</option>
                    <option value="Risk and Compliance">Risk and Compliance</option>
                </select>
            </div>

            <br style="clear:both;" />
            <br>
            
            <div style="float:left; margin-right:20px; width: 45%;" >
            <label style="display: block;"> Designation<span style="color: red">*</span> </label>  
                <input placeholder="Designation" align="justify" type="text" name="designation" style="width: 510px" required>

            </div>

            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Supervisor Name<span style="color: red">*</span> </label>  
                <input placeholder="Supervisor Name" align="justify" type="text" name="supervisor_name" style="width: 510px" required>
            </div>
            <br style="clear:both;" />
            <br>
               
            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Area Office<!-- <span style="color: red">*</span> --> </label> 
              <select name="area_office" placeholder="Area Office"align="justify" style="width: 510px">
                    <option value="" disabled selected>Area Office</option>
                    <option value="Gwagwalada">Gwagwalada</option>
                    <option value="Jabi">Jabi</option>
                    <option value="Kuje">Kuje</option>
                    <option value="Apo">Apo</option>
                    <option value="Lokogoma">Lokogoma</option>
                    <option value="Lugbe">Lugbe</option>
                    <option value="Asokoro">Asokoro</option>
                    <option value="Garki">Garki</option>
                    <option value="Jikwoyi">Jikwoyi</option>
                    <option value="Karu">Karu</option>
                    <option value="Maitama">Maitama</option>
                    <option value="Head Office">Head Office</option>
                    <option value="Wuse">Wuse</option>
                    <option value="Bwari">Bwari</option>
                    <option value="Gwarinpa">Gwarinpa</option>
                    <option value="Katampe">Katampe</option>
                    <option value="Kubwa">Kubwa</option>
                    <option value="Mpape">Mpape</option>
                    <option value="Life Camp">Life Camp</option>
                    <option value="Bida">Bida</option>
                    <option value="Bosso">Bosso</option>
                    <option value="Kotangora">Kotangora</option>
                    <option value="Minna">Minna</option>
                    <option value="Suleja">Suleja</option>
                    <option value="Zuma">Zuma</option>
                    <option value="Idah">Idah</option>
                    <option value="Kabba">Kabba</option>
                    <option value="Lokoja">Lokoja</option>
                    <option value="Okene">Okene</option>
                    <option value="Ado">Ado</option>
                    <option value="Akwanga">Akwanga</option>
                    <option value="Keffi">Keffi</option>
                    <option value="Lafia">Lafia</option>
                    <option value="Mararaba">Mararaba</option>
                </select>
            </div>



            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Region <span style="color: red">*</span> </label>
                <select name="region" id="dropdown" style="width: 510px" required>
                    <option value="" disabled selected>Regions</option>
                    <option value="FCT Central">FCT Central</option>
                    <option value="FCT North">FCT North</option>
                    <option value="FCT South">FCT South</option>
                    <option value="FCT West">FCT West</option>
                    <option value="FCT East">FCT East</option>
                    <option value="Head Office">Head Office</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Nasarawa">Nasarawa</option>
                    <option value="Niger">Niger</option>
                </select>
            </div>
             <br style="clear:both;" />
            <br>

    <div class="Goal-Info">
        <h4><strong>EVALUATION PERIOD</strong></h4>
        <b>From:<span style="color: red">*</span></b> <input placeholder="Date From" align="justify" type="date" name="from" style="width: 40%" required>
        <b> To:<span style="color: red">*</span> </b> <input placeholder="Date To" align="justify" type="date" name="to" style="width: 40%" required>
        <br>
        <h4><strong>RATING GUIDE</strong></h4>
        <table id="appr_rating-guide">
            <thead>
            <tr id="Goal-Row">
                <th id="Goal-id">Rating</th>
                <th id="Goal-id">Scores</th>
                <th id="Goal-id">Explanation</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td id="Goal-td">Exceeded       <b> (E) </b></td>
                <td id="Goal-td">4 points            </td>
                <td id="Goal-td">Exceeded the set goals </td>
                </tr>
                <tr>
                <td id="Goal-td">Met           <b> ( M ) </b></td>
                <td id="Goal-td">3 points            </td>
                <td id="Goal-td">Met 100% of the set objectives </td>
                </tr>
                <tr>
                <td id="Goal-td">Partially Met  <b> (PM)</b> </td>
                <td id="Goal-td">2 Points          </td>
                <td id="Goal-td">Met at least 70% on the objective set </td>
                </tr>
                 <tr>
                <td id="Goal-td">Did Not Meet <b>( DM)</b> </td>
                <td id="Goal-td">1 point         </td>
                <td id="Goal-td">Met less than 70% on set objective </td>
                </tr>
            </tbody>
        </table>
        <br>

        <div class="Goal">
            <h4><strong>SECTION A: REVIEW AND EVALUATION OF GOALS (70%)</strong></h4>
            <table id="Goal-Table">
                <thead>
                    <tr id="Goal-Row">
                        <th id="Goal-id">Goal <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Actual Result Achieved <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Weight <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Appraisee Rating <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Appraiser/Agreed Rating</th>
                  <!--       <th id="Goal-id">Average </th> -->
                        <th id="Goal-id">Score <span class="compulsory"> * </span></th>
                    </tr>
                </thead>
                <tbody v-for="(product,index) in products" id="goals-tbody">
                    <tr>
                        <!-- <td class="no">{{index}}</td> -->
                        <td id="Goal-td" style="width: 30%"><textarea style="width: 100%; height: 100px"  name= "goal" required></textarea></td>

                        <td id="Goal-td" style="width: 30%"><textarea style="width: 100%; height: 100px" name= "actual_result" required></textarea></td>

                        <td id="Goal-td"><input type="number" v-model="product.weight" class="weight" style="width: 100%; height: 100px" name='weight' required></td>

                        <td id="Goal-td">
                            <select v-model="product.selected" style="width: 100%" class="appraisee_rating" name="appraisee_rating" required>
                                <option value=4>E</option>
                                <option value=3>M</option>
                                <option value=2>PM</option>
                                <option value=1>DM</option>
                            </select>
                            </td>  

                            <td id="Goal-td"><input type="number" class="appraiser_rating" style="width: 100%; height: 100px" name="appraiser_rating" value=0 readonly="readonly"></td>

                        <!--  <td id="Goal-td"><textarea style="width: 100%; height: 100px" name= "average" readonly="readonly"> 0 </textarea></td> -->

                         <td id="Goal-td"><textarea style="width: 100%; height: 100px" name= "score" readonly="readonly"> [(product.selected/4)*product.weight]</textarea></td>

                        <td><i  class="fa fa-trash-o" @click="deleteRole(index)" value="Delete"></i></td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" v-model="sumSection_A_Total" name="goals_score" class="total" id="total_values" placeholder="score"></td>
                    </tr>
                </tfoot>
            </table>
            <br>
           
            <button type="button" @click="addNewRole" class="btn btn-light btn-sm">Add</button>
            <!-- <input type="button" value="+" id="row-add" style="background-color: #000080; color: #fff"> -->
            <!-- <input type="button" name="" value="Delete Row" onclick="deleteRow('Goal-Table')" /> -->
        </div>
        <br>
        <div class="End">
            <p style="color: red">Note: Total weight must be 100:</p>
            <p> <b> Please note the following Scoring Guide for Section A:</b> <br>
                1) Point obtained/Maximum point X weight = Score obtained on each Goal above. <br> 
                2)Total Score above X 70 Divide by 100 = Overall Score in section A <br>
                3)Therefore Total Score for Goals Achieved is: <b style="font-weight:18px"> [overall_ScoreSectionA] </b></p>
        </div>

        <div>
            <h4><strong>SECTION B: ASSESSMENT OF BEHAVIORAL COMPETENCES (30%)</strong></h4>

            <table id="appr_rating-guide">
            <thead>
            <tr id="Goal-Row">
                <th id="Goal-id">S/N</th>
                <th id="Goal-id">Behavioral Competencies</th>
                <th id="Goal-id">Definitions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td id="Goal-td">1</td>
                <td id="Goal-td">Job Effectiveness</td>
                <td id="Goal-td">Able to multi task, Possesses knowledge and skills necessary to perform job; Delivers information effectively in a variety of formats to different stakeholders.</td>
                </tr>
                <tr>
                <td id="Goal-td">2</td>
                <td id="Goal-td">Trust and Integrity</td>
                <td id="Goal-td">Maintains and exemplifies a reputation for honesty, candour, confidentiality, and fairness. </td>
                </tr>
                <tr>
                <td id="Goal-td">3</td>
                <td id="Goal-td">Supervision and Management</td>
                <td id="Goal-td">Gives clear directions and communicates performance expectations. Coaches, counsels and evaluates employees; Identifies areas for and supports employee development opportunities and career growth; Adapts easily to changing business and operational needs. </td>
                </tr>
                 <tr>
                <td id="Goal-td">4</td>
                <td id="Goal-td">Dependability</td>
                <td id="Goal-td">Is available for work on a consistent and timely basis with infrequent unplanned absences; Completes work in a timely manner. Meets commitment with minimal oversight </td>
                </tr>
                <tr>
                <td id="Goal-td">5</td>
                <td id="Goal-td">Collaboration and Team Work</td>
                <td id="Goal-td">Consistently and proactively shares relevant information with others; Promotes team cooperation by valuing opinions and contributions of others; Manages conflict effectively.</td>
                </tr>
                <tr>
                <td id="Goal-td">6</td>
                <td id="Goal-td">Organizational Success</td>
                <td id="Goal-td">Develops strategic action plans for practical use. Committed to continuous quality/process improvement. Committed to continuous learning. Is creative and innovative.</td>
                </tr>
                 <tr>
                <td id="Goal-td">7</td>
                <td id="Goal-td">Customer Orientation</td>
                <td id="Goal-td">Demonstrates customer focus by seeking out, understanding, and responding to the needs of both internal (co-workers) and external customers; Always takes ownership for delivering high quality services; Effectively and professionally works with upset customers, solving their problems; Routinely seeks to secure quality, long-lasting customer relations</td>
                </tr>
                 <tr>
                <td id="Goal-td">8</td>
                <td id="Goal-td">Leadership Drive</td>
                <td id="Goal-td">Exhibits resourcefulness, independent action and professional judgment that are position appropriate; Develop and acts on appropriate problem solving methods. Develops other employees. Identifies and remedies situations that require improvements at work.</td>
                </tr>
                <tr>
                <td id="Goal-td">9</td>
                <td id="Goal-td">Organizational Compliance and Safety</td>
                <td id="Goal-td">Adheres and leads the team in complying with all AEDC safety standards. Demonstrates appropriate use of and respect for organization’s property and equipment; Complies with the organization’s policies, regulations, rules, and procedures</td>
                </tr>
                <tr>
                <td id="Goal-td">10</td>
                <td id="Goal-td">Diversity and Respect</td>
                <td id="Goal-td">Demonstrates respect individual, culture and ethnic group to increase effectiveness of every unit and function; Influences organizational culture in ways that value and support diversity; Encourages and contributes to the establishment and execution of diversity management and inclusion programmes</td>
                </tr>
                <tr>
                <td id="Goal-td">11</td>
                <td id="Goal-td">Attendance/Punctuality</td>
                <td id="Goal-td">Being able to complete a required  task or fulfill an obligation before or at a previously designated time and  present at work</td>
                </tr>
            </tbody>
        </table>
        <br>


            <div>
            <label class="label_name"> Job Effectiveness <span class="compulsory"> * </span></label>

            <input type="radio" name="job" v-model.number="point00" value="4"> Exceeded (E=4) 
            <input type="radio" name="job" v-model.number="point00" value="3"> Met (M=3)
            <input type="radio" name="job" v-model.number="point00" value="2"> Partially Met (PM=2)
            <input type="radio" name="job" v-model.number="point00" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Trust and Integrity <span class="compulsory"> * </span></label>

           <!--  <input type="radio" name="trust" v-model.number="point01" value="4"> Exceeded (E=4) --> 
            <input type="radio" name="trust" v-model.number="point01" value="3"> Met (M=3)
         <!--    <input type="radio" name="trust" v-model.number="point01" value="2"> Partially Met (PM=2) -->
            <input type="radio" name="trust" v-model.number="point01" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Supervision and Management <span class="compulsory"> * </span></label>

            <input type="radio" name="supervision" v-model.number="point02" value="4"> Exceeded (E=4) 
            <input type="radio" name="supervision" v-model.number="point02" value="3"> Met (M=3)
            <input type="radio" name="supervision" v-model.number="point02" value="2"> Partially Met (PM=2)
            <input type="radio" name="supervision" v-model.number="point02" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Dependability <span class="compulsory"> * </span></label>

            <input type="radio" name="dependability" v-model.number="point03" value="4"> Exceeded (E=4) 
            <input type="radio" name="dependability" v-model.number="point03" value="3"> Met (M=3)
            <input type="radio" name="dependability" v-model.number="point03" value="2"> Partially Met (PM=2)
            <input type="radio" name="dependability" v-model.number="point03" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Collaboration and Team Work <span class="compulsory"> * </span></label>

            <input type="radio" name="collaboration" v-model.number="point04" value="4"> Exceeded (E=4) 
            <input type="radio" name="collaboration" v-model.number="point04" value="3"> Met (M=3)
            <input type="radio" name="collaboration" v-model.number="point04" value="2"> Partially Met (PM=2)
            <input type="radio" name="collaboration" v-model.number="point04" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Organizational Success <span class="compulsory"> * </span></label>

            <input type="radio" name="org_success" v-model.number="point05" value="4"> Exceeded (E=4) 
            <input type="radio" name="org_success" v-model.number="point05" value="3"> Met (M=3)
            <input type="radio" name="org_success" v-model.number="point05" value="2"> Partially Met (PM=2)
            <input type="radio" name="org_success" v-model.number="point05" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Customer Orientation <span class="compulsory"> * </span></label>

            <input type="radio" name="orientation" v-model.number="point06" value="4"> Exceeded (E=4) 
            <input type="radio" name="orientation" v-model.number="point06" value="3"> Met (M=3)
            <input type="radio" name="orientation" v-model.number="point06" value="2"> Partially Met (PM=2)
            <input type="radio" name="orientation" v-model.number="point06" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Leadership Drive <span class="compulsory"> * </span></label>

            <input type="radio" name="leadership" v-model.number="point07" value="4"> Exceeded (E=4) 
            <input type="radio" name="leadership" v-model.number="point07" value="3"> Met (M=3)
            <input type="radio" name="leadership" v-model.number="point07" value="2"> Partially Met (PM=2)
            <input type="radio" name="leadership" v-model.number="point07" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Organizational Compliance and Safety <span class="compulsory"> * </span></label>

            <input type="radio" name="compliance" v-model.number="point08" value="4"> Exceeded (E=4) 
            <input type="radio" name="compliance" v-model.number="point08" value="3"> Met (M=3)
            <input type="radio" name="compliance" v-model.number="point08" value="2"> Partially Met (PM=2)
            <input type="radio" name="compliance" v-model.number="point08" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Diversity and Respect <span class="compulsory"> * </span></label>

            <input type="radio" name="diversity" v-model.number="point09" value="4"> Exceeded (E=4) 
            <input type="radio" name="diversity" v-model.number="point09" value="3"> Met (M=3)
            <input type="radio" name="diversity" v-model.number="point09" value="2"> Partially Met (PM=2)
            <input type="radio" name="diversity" v-model.number="point09" value="1"> Did Not Meet (DM=1)

            </div>
            <br>
            <div>
            <label class="label_name"> Attendance/Punctuality<span class="compulsory"> * </span></label>

            <input type="radio" name="attendance" v-model.number="point10" value="4"> Exceeded (E=4) 
            <input type="radio" name="attendance" v-model.number="point10" value="3"> Met (M=3)
            <input type="radio" name="attendance" v-model.number="point10" value="2"> Partially Met (PM=2)
            <input type="radio" name="attendance" v-model.number="point10" value="1"> Did Not Meet (DM=1)

            </div>

            <br>

           <!--  <p style=" margin-left: 450px;"> Total points obtained: <input type="text" name="point_scored" class="total" placeholder="Total point">
            <div> -->
                <p> <b> Section B Scoring Guide:</b> <br>
                1) Total points obtained/Maximum Points  X 30<br>
                2) Therefore Total Score for Behavioral Competencies is:<b style="font-weight:18px"> [sumSection_B_Total] </b>
                 </p>
            </div>

        </div>   

        <div>
            <h4><strong>SECTION C:  OVERALL RATING: SECTIONS A & B</strong></h4>

              <table id="appr_rating-guide">
                  
                <tbody>
                <tr style="background-color: white; color: black;">
                      <td id="Goal-td"> Section A </td>
                      <td id="Goal-td"><input type="text" v-model=overall_ScoreSectionA name="overall_score_sectA" class="total" readonly="readonly"></td>
                  </tr>
                   <tr style="background-color: white; color: black;">
                      <td id="Goal-td">Section B </td>
                      <td id="Goal-td"><input type="text" v-model=sumSection_B_Total name="overall_score_sectB" class="total" readonly="readonly"></td>
                  </tr>
                  <tr style="color: black;">
                      <td id="Goal-td"> <b> TOTAL </b></td>
                      <td id="Goal-td"> <input type="text" v-model=grandTotal name="total_score" class="total" placeholder="Total score" readonly="readonly"> </td>
                  </tr>
                  </tbody>
              </table>

        </div>
        <br>

        <div class="row">
            <div class="col-sm-2">
                <p> <b> Unsatisfactory (< 45%)</b> <br>
                    <b>Does not meet</b> the required performance standards in key aspects of the job <br> <b> Unacceptable Performance </b>
            </div>

            <div class="col-sm-2">
                <p> <b> Average (46-60%) </b><br>
                    Level of productivity and general effectiveness meets the high standards for this position <br>
                    <b> Improvement Needed </b>
            </div>

            <div class="col-sm-2">
                <p><b> Satisfactory (61-75%) </b><br>
                    <b>Meets</b> the required performance in key aspects of the job <br>
                    <b> Sustain Performance </b>
            </div>
            <div class="col-sm-2">
                <p><b> Exceptional (76-89%) </b><br>
                    Meets All required performance standards and often exceeds the standards. <br>
                    <b> Ready for higher responsibility </b>
            </div>

            <div class="col-sm-2">
                <p><b>Outstanding (90-100%)</b> <br>
                    Consistently and significantly <b>exceeds</b> all performance standards and job requirements. Delivers exceptional performance. <br>
                    <b> Certainly ready should be given Higher Responsibility. </b>
            </div>
        </div>

        <div>
                <h4 style="text-align: center;"><strong>EMPLOYEE KEY ACCOMPLISHMENT IN APPRAISED PERIOD</strong></h4>
                <table align="center" id="appr_rating-guide" style="background-color: #fff; color: #000; width: 100%; height: fit-content;">
                <thead>
                    <tr id="Goal-Row">
                        <th id="Goal-id">Accomplishment <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Link to Strategic Focus <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Link to Balanced Score Card <span class="compulsory"> * </span></th>
                    </tr>
                </thead>
                <tbody v-for="(employee_key,index) in employee_keys" id="goals-tbody">
                    <tr>
                        <td id="Goal-td" width="450px"><textarea style="width: 450px; height: 100px"  name= "accomplishment" required></textarea></td>

                        <td id="Goal-td" width="350px">
                            <select class="strat-focus" name='strat' style="width: 350px" required>
                                <option value="" disabled selected>Click Here</option>
                                <option value="Reduce ATC&C Loss">Reduce ATC&C Loss</option>
                                <option value="Achieve Financial Viability">Achieve Financial Viability</option>
                                <option value="Create a Customer Centric Organization">Create a Customer Centric Organization</option>
                                <option value="Effective Regulatory & Stakeholders Engagement">Effective Regulatory & Stakeholders Engagement</option>
                                <option value="Improve HSE Practices">Improve HSE Practices</option>
                                <option value="Implement Prudent Asset Management Practices">Implement Prudent Asset Management Practices</option>
                                <option value="Deploy Fit for Purpose ICT Business Solutions">Deploy Fit for Purpose ICT Business Solutions</option>
                                <option value="Create a High Performance Culture">Create a High Performance Culture</option>
                                <option value="Compliance with Reengineered Business Processes">Compliance with Reengineered Business Processes</option>
                              </select>
                        </td>

                        <td id="Goal-td"><textarea style="width: 100%; height: 100px" name= "bal" required></textarea></td>

                        <td><i  class="fa fa-trash-o" @click="deleteSubRole(index)" value="Delete"></i></td>
                    </tr>
                    
                </tbody>
            </table><br>
            <button type="button" @click="addSubRole" class="btn btn-light btn-sm">Add Key Accomplishment</button>

        </div>
            <br>

        <div>
            <h4 style="text-align: center;"><strong>PERFORMANCE IMPROVEMENT - DEVELOPMENT</strong></h4>

            <table align="center" id="appr_rating-guide" style="background-color: #fff; color: #000; width: fit-content; height: fit-content;">
                <thead>
                    <tr id="Goal-Row">
                        <th id="Goal-id">Key Strengths <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Improvement Areas ( E.g. Coaching, Mentoring, On-the-Job training and formal trainings) <span class="compulsory"> * </span></th>
                        <th id="Goal-id">Developmental Recommendations (training/job rotation/job enlargement/Redeployment to another Function/Department/Location etc.)<span class="compulsory"> * </span></th>
                    </tr>
                </thead>
                <tbody v-for="(performance,index) in performances" id="goals-tbody">
                    <tr>
                        <td id="Goal-td"><textarea style="width: 250px; height: 100px"  name= "key_strength" required></textarea></td>

                        <td id="Goal-td"><textarea style="width: 100%; height: 100px" name= "improvement_area" required></textarea></td>

                         <td id="Goal-td"><textarea style="width: 100%; height: 100px" name= "developmental_recommendation" required></textarea></td>
                        <td><i  class="fa fa-trash-o" @click="deleteChildRole(index)" value="Delete"></i></td>
                    </tr>
                    
                </tbody>
            </table><br>
            <button type="button" @click="addChildRole" class="btn btn-light btn-sm">Add Development</button>

        </div>
        <br>
        <div>
            <h4><strong>SIGN-OFF</strong></h4>
            <table>
                <tr>
                    <td style="text-align: left"><h5><strong>Appraisee (Employee)<span style="color: red">*</span></strong></h5></td>
                    <td><input placeholder="firstname.lastname@abujaelectricity.com"align="justify" type="email" name="appraisee_email" style="width: 265px" required></td>

                    <td><textarea style="width: 300px; height: 80px; margin-left: 30px" placeholder="enter comment" name="appraisee_comment"></textarea></td>
                </tr>
                <tr>
                    <td style="text-align: left"><h5><strong>Appraiser (Line Manager)<span style="color: red">*</span></strong></h5></td>
                    <td><input placeholder="firstname.lastname@abujaelectricity.com"align="justify" type="email" name="appraiser_email" style="width: 265px" required></td>

                    <td><textarea style="width: 300px; height: 80px; margin-left: 30px" placeholder="enter comment" name="appraiser_comment" disabled></textarea></td>
                </tr>
                <tr>
                    <td style="text-align: left"><h5><strong>Reviewer <span style="color: red">*</span></strong></h5></td>
                    <td><input placeholder="firstname.lastname@abujaelectricity.com"align="justify" type="email" name="reviewer_email" style="width: 265px" required></td>

                    <td><textarea style="width: 300px; height: 80px; margin-left: 30px" placeholder="enter comment" name="reviewer_comment" disabled></textarea></td>
                </tr>
            </table>
            <p class="message"></p>
            <input type="submit" value="submit" class="final"/>
        </div>
    </div>
</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script>
        var vm = new Vue({
        delimiters: ["[","]"],
        el: '#app',
        data: {
            selected:"",
            point00:"",
            point01:"",
            point02:"",
            point03:"",
            point04:"",
            point05:"",
            point06:"",
            point07:"",
            point08:"",
            point09:"",
            point10:"",
            products:[{
                weight:0,
                desc:'',
                selected:0              
            }],
            employee_keys:[{
                weight:0,
                debit:'',
                credit:'',
                desc:'',              
            }],
            performances:[{
                weight:0,
                debit:'',
                credit:'',
                desc:'',              
            }]
         
        },

      computed:{
        sumSection_A_Total(){
            return this.products.reduce(function(carry,product){
              return carry + (product.weight)*(product.selected/4);
          }, 0);
        },

        overall_ScoreSectionA(){
            return this.sumSection_A_Total*(70/100);
        },

        sumSection_B_Total: function(){
                return ((this.point00 + this.point01 + this.point02 + this.point03 + this.point04 + this.point05 + this.point06 + this.point07 + this.point08 + this.point09 + this.point10)/44*30).toFixed(2)
        },

        grandTotal(){
            //return (Number(this.overall_ScoreSectionA)) + (Number(this.sumSection_B_Total));
            return (parseFloat(this.overall_ScoreSectionA)) + (parseFloat(this.sumSection_B_Total));
        },

        sumValue(){
            var data = document.getElementById('total_values').value;  console.log(data+"Hi");
               var data = $('.total').val();
               // if(data>100 || data<100 ) {
                if(data>100 ) {
                    $('.final').attr('disabled',true);
                    $('.message').html("Weight cannot be more or greater than 100");
                    alert('Weight cannot be more or greater than 100');
               }else{
                   $('.message').html("");
                   $('.final').attr('disabled',false); 
               }
        }
       
      },

      methods:{

            assesmentScore: function(){
                return ((this.point00 + this.point01 + this.point02 + this.point03 + this.point04 + this.point05 + this.point06 + this.point07 + this.point08 + this.point09 + this.point10)/44*30).toFixed(2)
            },

            addNewRole(){
              this.products.push({ weight:0});  
            },

            addSubRole(){
                this.employee_keys.push({ weight:0 });
            },

            addChildRole(){
                this.performances.push({weight:0});
            },

    
            deleteRole(index){
               this.products.splice(index,1)
               var data = document.getElementById('total_values').value;  console.log(data+"Hi");
               var data = $('.total').val();
               // if(data>100 || data<100 ) {
                if(data>100 ) {
                    $('.final').attr('disabled',true);
                    $('.message').html("Weight cannot be more or greater than 100");
                    alert('Weight cannot be more or greater than 100');
               }else{
                   $('.message').html("");
                   $('.final').attr('disabled',false); 
               }
            },

            deleteSubRole(index){
               this.employee_keys.splice(index,1)
                var data = document.getElementById('total_values').value;  console.log(data+"Hi");
               var data = $('.total').val();
               // if(data>100 || data<100 ) {
                if(data>100 ) {
                    $('.final').attr('disabled',true);
                    $('.message').html("Weight cannot be more or greater than 100");
                    alert('Weight cannot be more or greater than 100');
               }else{
                   $('.message').html("");
                   $('.final').attr('disabled',false); 
               }
            },


              deleteChildRole(index){
               this.performances.splice(index,1)
                var data = document.getElementById('total_values').value;  console.log(data+"Hi");
               var data = $('.total').val();
               // if(data>100 || data<100 ) {
                if(data>100 ) {
                    $('.final').attr('disabled',true);
                    $('.message').html("Weight cannot be more or greater than 100");
                    alert('Weight cannot be more or greater than 100');
               }else{
                   $('.message').html("");
                   $('.final').attr('disabled',false); 
               }
            },

            process(){
               var data = document.getElementById('total_values').value;  console.log(data+"Hi");
               var data = $('.total').val();
               if(data>100 || data<100 ) {
                // if(data>100 ) {
                    $('.final').attr('disabled',true);
                    $('.message').html("Weight cannot be more or greater than 100");
                    alert('Weight cannot be more or greater than 100');
               }else{
                   $('.message').html("");
                   $('.final').attr('disabled',false); 
               }
            },


      }
});

</script>


        