<table class="desc_table">
    <tr>
    <td style="text-align: left;">
    <h5 class="font_style">Section A - Review and Evaluation of Goals (70%)</h5>
    </td>

    <td class=desc_td style="text-align: justify;">
    This section is focused on evaluating the extent to which performance goals agreed by the appraiser and appraisee at the commencement of the performance cycle have been achieved. Columns have been provided for goals agreed on, level achieved by appraisee.
    </td>
    </tr>
        <tr>
        <td style="text-align: left">
         <h5 class="font_style"> Section B- Assessment of Behavioral Competencies(30%)</h5>
        </td>

        <td class=desc_td style="text-align: justify">
        This appraises the <b>Behavioral Competencies</b> which are knowledge, skills and attitudes displayed by the appraisee during the appraisal period relative to requirement for the career level. The <b>rating scale</b> is at 4 levels: <b>Did Not Meet, Partially Met, Met and Exceeded.</b>
        </td>
        </tr>
            <tr>
            <td style="text-align: left">
            <h5 class="font_style">Section C- Overall Rating & Comments</h5>
            </td>

            <td class=desc_td style="text-align: justify">
            Summarizes the individual’s appraisal and documents relevant comments on the appraisal. Provision has also been made for the appraisee to comment on the appraisal
            </td>
            </tr>
                    <tr>
                    <td style="text-align: left">
                    <h5 class="font_style">Section D- Development Section <br>1. Part 1 <br>2. Part 2</h5>
                    </td>

                    <td class=desc_td style="text-align: justify">
                    1. Identifies developmental needs of employee: strengths, areas of development and development plan. 
                    <br><br>
                    2. Signing off

                    </td>
                    </tr>
</table>
    
                 <ul>
                    <li style="color: red;"> Please refer to HR if you require further assistance in completion of this Form </li>

                </ul>
