<div class="Form">
            <form action= "{% url 'update_rec' userid %}" method="post">
                {% csrf_token %}
            <div style="float:left; margin-right:20px;" class="input_div">
                <label for = "first-name" style="display: block;"> First Name<span style="color: red">*</span> </label>
                <input placeholder="{{ gen_info.first_name}}" align="justify" type="text" name="firstname" disabled>
            </div>

            <div style="float:left; margin-right:20px;" class="input_div">
                <label style="display: block;"> Middle Name</label>
                <input type="text" placeholder="{{ gen_info.middle_name}}" name="surname"   align="justify"  disabled>
            </div>

            <div style="float:left;" class="input_div">
                <label style="display: block;"> Last Name<span style="color: red">*</span> </label>
                <input type="text" name="lastname" placeholder="{{ gen_info.last_name}}" align="justify"   disabled >
            </div>

              <br style="clear:both;" />
              <br>
            
            <div style="float:left; margin-right:20px; width: 44%; ">
                <label style="display: block;"> Staff ID<span style="color: red">*</span> </label>
                <input placeholder={{ gen_info.staff_id}} align="justify" type="text" name="staffid" style="width: 510px" disabled>
            </div>


            <div style="float:left; margin-right:20px; width: 45%; height: 80px; padding-top: 10px">
            <label style="display: block;"> Job Level<span style="color: red">*</span> </label>
                <select name="position" placeholder={{ gen_info.position}} style="width: 517px" disabled>
                    <option value={{ gen_info.position}}>{{ gen_info.position}}</option>
                    <option value="AEDC3-General Manager">AEDC3-General Manager</option>
                    <option value="AEDC4-Senior Manager">AEDC4-Senior Manager</option>
                    <option value="AEDC5-Manager">AEDC5-Manager</option>
                    <option value="AEDC6-Assistant Manager">AEDC6-Assistant Manager</option>
                    <option value="AEDC7-Senior Officer">AEDC7-Senior Officer</option>
                    <option value="AEDC8-Function Officer 1">AEDC8-Function Officer 1</option>
                    <option value="AEDC-9-Function Officer 2">AEDC-9-Function Officer 2</option>
                    <option value="AEDC-10-Support Officer">AEDC-10-Support Officer</option>
                </select>
            </div>

            <br style="clear:both;" />
            <br>

            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Unit<span style="color: red">*</span> </label>  
                <select name="unit" placeholder={{ gen_info.position}} align="justify" style="width: 510px" disabled>
                    <option value={{ gen_info.unit}}>{{ gen_info.unit}}</option>
                    <option value="AEDC Change">AEDC Change</option>
                    <option value="Billing">Billing</option>
                    <option value="Fraud Billing">Fraud Billing</option>
                    <option value="Technical Services">Technical Services</option>
                    <option value="Commercial Services">Commercial Services</option>
                    <option value="MAP">MAP</option>
                    <option value="SPM">SPM</option>
                    <option value="Projects">Projects</option>
                    <option value="Protocol">Protocol</option>
                    <option value="Business Corporate Risk">Business Corporate Risk</option>
                    <option value="Commercial Performance Management">Commercial Performance Management</option>
                    <option value="Communications Facilities and Infrasturcture">Communications Facilities and Infrasturcture</option>
                    <option value="Company Secretariat">Company Secretariat</option>
                    <option value="Compliance Audit">Compliance Audit</option>
                    <option value="Contract and Documentation">Contract and Documentation</option>
                    <option value="Corporate Communications">Corporate Communications</option>
                    <option value="Corporate Finance and Corporate Development">Corporate Finance and Corporate Development</option>
                    <option value="Customer Care Services">Customer Care Services</option>
                    <option value="Cyber Security and BCP">Cyber Security and BCP</option>
                    <option value="Dispute Resolution">Dispute Resolution</option>
                    <option value="Environmental and Social">Environmental and Social</option>
                    <option value="Financial Operations">Financial Operations</option>
                    <option value="Fleet Management and Logistics">Fleet Management and Logistics</option>
                    <option value="GIS and Communications">GIS and Communications</option>
                    <option value="Health and Safety">Health and Safety</option>
                    <option value="Human Resources & Administration">Human Resources & Administration</option>
                    <option value="IT Audit">IT Audit</option>
                    <option value="Key/Debt Account">Key/Debt Account</option>
                    <option value="Legal Advisory">Legal Advisory</option>
                    <option value="Legal Services">Legal Services</option>
                    <option value="Management Office">Management Office</option>
                    <option value="Network Development">Network Development</option>
                    <option value="Network Operations">Network Operations</option>
                    <option value="Operations and Maintenance">Operations and Maintenance</option>
                    <option value="Operations Audit">Operations Audit</option>
                    <option value="Operations Control">Operations Control</option>
                    <option value="Protection, Control and Communications">Protection, Control and Communications</option>
                    <option value="Quality Assurance">Quality Assurance</option>
                    <option value="Facility">Facility</option>
                    <option value="Regulatory and Government Relations">Regulatory and Government Relations</option>
                    <option value="Revenue Protection">Revenue Protection</option>
                    <option value="Security Services">Security Services</option>
                    <option value="Strategic PMO Office">Strategic PMO Office</option>
                    <option value="Strategy and Corporate Planning">Strategy and Corporate Planning</option>
                    <option value="Supply Chain(Procurement)">Supply Chain(Procurement)</option>
                    <option value="Treasury and Financial Risk Management">Treasury and Financial Risk Management</option>
                    <option value="User Support and Applications Management">User Support and Applications Management</option>
                    <option value="Vending">Vending</option>
                </select>

            </div>

            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Directorate <span style="color: red">*</span> </label>
                <select name="directorate" placeholder={{ gen_info.directorate}} align="justify" style="width: 509px" disabled>
                    <option value={{ gen_info.directorate}}>{{ gen_info.directorate}}</option>
                    <option value="Change Management and PMO">Change Management and PMO</option>
                    <option value="Projects">Projects</option>
                    <option value="Corporate Services">Corporate Services</option>
                    <option value="Financial Services">Financial Services</option>
                    <option value="Information Communication and Technology">Information Communication and Technology</option>
                    <option value="Internal Audit">Internal Audit</option>
                    <option value="Legal Services and Company Secretariat">Legal Services and Company Secretariat</option>
                    <option value="Risk and Compliance">Risk and Compliance</option>
                </select>
            </div>

            <br style="clear:both;" />
            <br>
            
            <div style="float:left; margin-right:20px; width: 45%;" >
            <label style="display: block;"> Designation<span style="color: red">*</span> </label>  
                <input placeholder={{ gen_info.directorate}} align="justify" type="text" name="designation" style="width: 510px" disabled>

            </div>

            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Supervisor Name<span style="color: red">*</span> </label>  
                <input placeholder={{ gen_info.supervisor_name}} align="justify" type="text" name="supervisor_name" style="width: 510px" disabled>
            </div>
            <br style="clear:both;" />
            <br>
               
            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Area Office<span style="color: red">*</span> </label> 
              <select name="area_office" placeholder={{ gen_info.area_office }} align="justify" style="width: 510px" disabled>
                    <option value={{ gen_info.area_office}}>{{ gen_info.area_office}}</option>
                    <option value="Gwagwalada">Gwagwalada</option>
                    <option value="Jabi">Jabi</option>
                    <option value="Kuje">Kuje</option>
                    <option value="Apo">Apo</option>
                    <option value="Lokogoma">Lokogoma</option>
                    <option value="Lugbe">Lugbe</option>
                    <option value="Asokoro">Asokoro</option>
                    <option value="Garki">Garki</option>
                    <option value="Jikwoyi">Jikwoyi</option>
                    <option value="Karu">Karu</option>
                    <option value="Maitama">Maitama</option>
                    <option value="Head Office">Head Office</option>
                    <option value="Wuse">Wuse</option>
                    <option value="Bwari">Bwari</option>
                    <option value="Gwarinpa">Gwarinpa</option>
                    <option value="Katampe">Katampe</option>
                    <option value="Kubwa">Kubwa</option>
                    <option value="Life Camp">Life Camp</option>
                    <option value="Bida">Bida</option>
                    <option value="Bosso">Bosso</option>
                    <option value="Kotangora">Kotangora</option>
                    <option value="Minna">Minna</option>
                    <option value="Suleja">Suleja</option>
                    <option value="Zuma">Zuma</option>
                    <option value="Idah">Idah</option>
                    <option value="Kabba">Kabba</option>
                    <option value="Lokoja">Lokoja</option>
                    <option value="Okene">Okene</option>
                    <option value="Ado">Ado</option>
                    <option value="Akwanga">Akwanga</option>
                    <option value="Keffi">Keffi</option>
                    <option value="Lafia">Lafia</option>
                    <option value="Mararaba">Mararaba</option>
                </select>
            </div>



            <div style="float:left; margin-right:20px; width: 45%; ">
            <label style="display: block;"> Region <span style="color: red">*</span> </label>
                <select name="region" id="dropdown" style="width: 510px" disabled>
                    <option value={{ gen_info.region}}>{{ gen_info.region}}</option>
                    <option value="FCT Central">FCT Central</option>
                    <option value="FCT North">FCT North</option>
                    <option value="FCT South">FCT South</option>
                    <option value="FCT West">FCT West</option>
                    <option value="FCT East">FCT East</option>
                    <option value="Head Office">Head Office</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Nasarawa">Nasarawa</option>
                    <option value="Niger">Niger</option>
                </select>
            </div>
             <br style="clear:both;" />
            <br>

    <div class="Goal-Info">
        <h4><strong>Goal Information</strong></h4>
        <br>
        <b>From:</b> {{period_from}}
        <b> To: </b>{{period_to}} 
        <br>
        <br>


        <div class="Goal">
            <h4><strong>Goals</strong></h4>
            <table id="Goal-Table">
                <thead>
                    <tr id="Goal-Row">
                        <th id="Goal-id">Goals</th>
                        <th id="Goal-id">Specific Task to be accomplished</th>
                        <th id="Goal-id">Achievment Criteria (KPI)</th>
                        <th id="Goal-id">Link to Strategic Focus</th>
                        <th id="Goal-id">Link to Balance Scorecard</th>
                        <th id="Goal-id">Weight (100%)</th>
                        <th id="Goal-id">Timeline</th>
                    </tr>
                </thead>
                <input type="hidden" name="period_from" value="{{period_from}}">
                <input type="hidden" name="period_to" value="{{period_to}}">

                <tbody  id="goals-tbody">
                  
                  {% for goal in goals %}
                        <input type="hidden" name="key" value="{{goal.id}}">
                    <tr>
                        <td id="Goal-td"><textarea style="width: 250px; height: 100px" name= 'objective*{{goal.id}}'> {{ goal.objective}} </textarea></td>
                        <td id="Goal-td"><textarea style="width: 200px; height: 100px" name= 'specific_task*{{goal.id}}'> {{ goal.specific_task}}</textarea></td>
                        <td id="Goal-td"><textarea style="width: 200px; height: 100px" name= 'achievement*{{goal.id}}'> {{ goal.KPI}} </textarea></td>
                        <td id="Goal-td">
                            <select style="width: 200px" class="uptstrat-focus" name='strat*{{goal.id}}' required>
                                <option value={{ goal.Strategic_focus}}>{{ goal.Strategic_focus}}</option>
                                <option value="Reduce ATC&C Loss">Reduce ATC&C Loss</option>
                                <option value="Achieve Financial Viability">Achieve Financial Viability</option>
                                <option value="Create a Customer Centric Organization">Create a Customer Centric Organization</option>
                                <option value="Effective Regulatory & Stakeholders Engagement">Effective Regulatory & Stakeholders Engagement</option>
                                <option value="Improve HSE Practices">Improve HSE Practices</option>
                                <option value="Implement Prudent Asset Management Practices">Implement Prudent Asset Management Practices</option>
                                <option value="Deploy Fit for Purpose ICT Business Solutions">Deploy Fit for Purpose ICT Business Solutions</option>
                                <option value="Create a High Performance Culture">Create a High Performance Culture</option>
                                <option value="Compliance with Reengineered Business Processes">Compliance with Reengineered Business Processes</option>
                              </select>
                        </td>
                       <td id="Goal-td"><input type="text" style="width: 150px" name='bal*{{goal.id}}' align="Central"  value="{{ goal.Balanced_scorecard}}" placeholder="{{ goal.Balanced_scorecard}}" ></td>

                         <td id="Goal-td" ><input type="number" style="width: 100%; height: 100px" name= 'weight*{{goal.id}}' value={{ goal.weight }}></td>

                        <td id="Goal-td"><textarea style="width: 100%; height: 100px" name= 'timeline*{{goal.id}}'> {{ goal.timeline }} </textarea></td>
                        <!-- <td><button id="remove" value="Delete">-</button></td> -->
                    </tr>

                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" v-model="debitTotal" name="total" class="total" id="total_values" placeholder={{ gen_info.total}} style="width: 250px;" disabled></td>
                    </tr>
                </tfoot>
            </table>
            <br>
             <!-- <input type="button" value="Add" id="row-add" style="background-color: #000080; color: #fff"> -->
            <!-- <input type="button" name="" value="Delete Row" onclick="deleteRow('Goal-Table')" /> -->
        </div>
        <br>
        <div class="End">
            <p style="color: red">Note: Total weight must be 100:</p>
        </div>
        <br>
        <div>
            <h4> <b> Sign Off Information </b></h4>
            <table>
                <tr>
                    <td style="text-align: left"><h5><strong>Appraisee (Employee)<span style="color: red">*</span></strong></h5></td>

                    <td><input align="justify" type="text" placeholder="{{ gen_info.appraisee_email }}" style="width: 85%" required disabled></td>

                    <td><textarea name="appraisee_comment"style="width: 300px; height: 80px; margin-left: 30px" value="{{ comments.appraisee_comment }}" placeholder="{{ comments.appraisee_comment }}" disabled></textarea></td>
                </tr>
                <tr>
                    <td style="text-align: left"><h5><strong>Appraiser (Line Manager)<span style="color: red">*</span></strong></h5></td>

                    <td><input align="justify" type="text" placeholder="{{ gen_info.appraiser_email }}" style="width: 85%" required disabled></td>

                     <td><textarea name="appraiser_comment" style="width: 300px; height: 80px; margin-left: 30px" value="{{ comments.appraiser_comment }}" placeholder="{{ comments.appraiser_comment }}" disabled></textarea></td>
                </tr>
                <tr>
                    <td style="text-align: left"><h5><strong>Reviewer <span style="color: red">*</span></strong></h5></td>

                     <td><input align="justify" type="text" placeholder="{{ gen_info.reviewer_email }}" style="width: 85%" required disabled></td>

                    <td><textarea name="reviewer_comment"style="width: 300px; height: 80px; margin-left: 30px" value="{{ comments.reviewer_comment }}" placeholder="{{ comments.reviewer_comment }}"></textarea></td>
                </tr>
            </table>
            <input type="submit" value="Update" style="display: inline-block; background-color:#000080; color: #fff;">
            <div style=" display:inline-block;background-color:#000080; border: 2px outset #999da0; height: 24px;"> <a href="{{link}}" style="color: #fff"> Reviewed  </a> </div>
        </div>
    </div>
</form>
</div>






        
