<table class="desc_table">
    <tr>
    <td style="text-align: left;">
    <h5 class="font_style">Goal</h5>
    </td>

    <td class=desc_td style="text-align: justify;">
    This should focus on the major projects or deliverable that the employee is expected to achieve for the year. E.g. Reduce ATC & T losses. The goals should be set by the employee and thereafter discussed and agreed with the Supervisor. It should be noted that goals should be cascaded from the Head to the Support Officer in a department to ensure a chain of alignment with function and corporate goals is formed.
    </td>
    </tr>
        <tr>
        <td style="text-align: left">
         <h5 class="font_style">Specific Task to be Accomplished</h5>
        </td>

        <td class=desc_td style="text-align: justify">
        This section focuses on specific tasks/smaller projects/activities that will be carried out to achieve the goals. It answers the question how will this goal be achieved?
        </td>
        </tr>
            <tr>
            <td style="text-align: left">
            <h5 class="font_style">Achievment Criteria(KPI)</h5>
            </td>

            <td class=desc_td style="text-align: justify">
            This column focuses on the criteria for measurement of the goals. What can be seen, heard and felt when the task/goal has been completed.  These are the most critical result areas for the business.
            </td>
            </tr>
                <tr>
                <td style="text-align: left">
                <h5 class="font_style">Timeline</h5>
                </td>

                <td class=desc_td style="text-align: justify">
                Each goal must have a timeline for completion and the timeline must be specific as it also forms a basis for measurement. E.g. March 30th 2016, January –December 30th 2016.
                </td>
                </tr>
                    <tr>
                    <td style="text-align: left">
                    <h5 class="font_style">Weight</h5>
                    </td>

                    <td class=desc_td style="text-align: justify">
                    On a measurement scale of 100%, you are required to apportion a percentage to each goal noting that the primary and most essential goal for the employee should carry the highest weight e.g. collections for a ‘marketer’, fault clearing for a linesman. <span class="font_style">Please note that ALL goals must sum up to 100%.</span>
                    </td>
                    </tr>
</table>
                <br>
                 <p>Check that Goals are <span class="font_style">SMART:</span> <span class="font_style">S</span>pecific <span class="font_style">M</span>easurable <span class="font_style">A</span>chievable <span class="font_style">R</span>elevant <span class="font_style">T</span>ime bound</p>
